.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  text-align: center;
}

.center {
  text-align: center;
}

.buttonImgLink {
  color: white;
}

.buttonImgLink:hover {
  text-decoration: none;
}
