.buttonImg {
  vertical-align: bottom;
  text-align: center;
}

.buttonImgLink:hover {
  text-decoration: none;
  color: #144061;
}

.buttonImg:hover {
  cursor: pointer;
}

.buttonImg2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: invert(1);
}

html,
body,
.App {
  height: 100%;
}

.card {
  border: none;
}
