.imgDashboard {
  width: 20%;
  display: inline-block;
}

.searchDashboard {
  width: 100%;
}

.sidebar {
  background-color: #04aa6d;
  margin: 0;
  padding: 0;
  position: fixed;
  /* height: 100%; */
  width: 50%;
  overflow: hidden;
  z-index: 1;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  width: 100%;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  height: 1000px;
  margin-left: 30%;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: left;
    float: none;
  }
}
