.date,
.textMe {
  float: right;
}

.textMe {
  background-color: rgb(144, 172, 224);
  max-width: 45%;
  padding: 1%;
}

.textOther {
  background-color: rgb(192, 188, 188);
  max-width: 45%;
  padding: 1%;
}

.msgBoxL {
  margin-bottom: 2%;
  margin-top: 2%;
}

.msgBoxR {
  margin-bottom: 2%;
  margin-top: 2%;
  margin-right: 2%;
}

.boxUser {
  margin: 2%;
  padding: 2%;
}

.title {
  margin: 2%;
}

.boxUsers {
  min-height: 100%;
}

.msg {
  margin-bottom: 1%;
}

.textMsg {
  min-width: 100%;
}

.send {
  text-align: left;
  margin-bottom: 2%;
}

.height {
  position: absolute;
  top: 98px;
  bottom: 0;
  width: 100%;
}

.scrollbar {
  overflow: scroll;
}
