.page {
  margin-left: 5%;
  margin-right: 5%;
}

.login {
  text-align: left;
}

.ocupado{
  background-color: rgba(252, 66, 66, 0.925);
}

.desocupado{
  background-color: rgba(65, 257, 65, 0.911);
}

.reservado{
  background-color: grey;
}

.image{
  width: 90%;
}

.bottonRow{
  margin-top: 2%;
}

.button{
  margin-bottom: 2%;
}

.addImage{
  margin: 2%;
}