.h1{
  text-align: center;
}

/*For desktops*/
@media only screen and (min-width: 768px) {
  .login {
    margin-left: 30% !important;
    margin-right: 30% !important;
  }
}


.login{
  padding-top: 8%;
  padding-bottom: 8%;
}


.label{
  text-align: left !important;
}
